*{
    background-color: #235f;
    margin: 0;
    padding: 0;
    
}



/* Menu */

.logo img{
    width: 100%;
    max-width: 50px;
    float: left;
    padding-top: 15px; 
    padding-right: 15px;
    padding-left: 5px;
    border-radius: 25%;
}
.logo{
    float: left;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 20px;
     
    
}

.menu{
    background: #235F;
    white-space: nowrap;
    border:  #45ff 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 5px #33ffff;
    margin: 5px;
   
    
}
.menu:after{
    content: '';
    clear: both;
    display: table;
}

.menu ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    
}
.menu ul li{
    float: left;
    display: inline-block;
    background:#235F;
    margin: 0 5px;   
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    
}
.menu ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 
                0 0 5px #66ffff; 
    
}
 .icon , #btn{
    display: none;
}
/* Fin Menu */

/* banner ciclistas */

.fondo img{
    width: 100%;
    height: auto;     
}

/* Fin banner ciclista */

h1, h2, h3{
    text-align: center;
    color: #fff;
}

/* Article */
.section{
    float: center;
    margin: 10px 45px 45px 45px;
    padding: 25px;
    color: #FFF;
    font-size: 18px;
    box-shadow: 0 0 5px #33ffff;      
}
/* Fin Article */

/* Tipos con Grid*/
.tipos{
    margin:15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap:10px;
    grid-row-gap:  20px;
}
.tipos div{
    padding: 15px;
     box-shadow: 0 0 5px #33ffff;    
    
}
.tipos p{
    text-align: center;
    color: #fff;
    
}
.tipos h3{
    color: #5DADE2;
}
.tipos ul li{
    margin-top: 10px;
    margin: 5px;
    text-align: center;
    color: #5DADE2;
    list-style: none;
    
}


.tipos img{
    width: 50%;
    height: 80%;
    padding: 5px;
}

.videos{
margin: 15px;


    width: 80%;
    height: 300px;
   
}


/* Fin Grid*/

/*Formulario*/

.formulario {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.contact {
    text-align: center;
    font-size: 3em;
}
.contacto {
    margin: 20px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto > * {
    padding: 1em;

}



.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.contact-form form label {
    display: inline-block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
    color: #fff;
}


 .block {
    grid-column: 1 / 3;
}



.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #33ffff;
}

.contact-form form button {
    color: #000;
    font-size: 18px;
    background: #6CA0D1;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 15px;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #235ddf;
    color: #fff;
    transition: background-color 0.5s ease-out;
    outline: 0;
   
}



.info {
    background: #3D3A3A;
}

.info h4,
.info ul, 
.info p,
.info ul li i,
.info ul li {
    text-align: center;
    margin: 0 0 0.5rem 0;
    background: #3D3A3A;
    color: #fff;
    list-style: none;
    padding: 0;
    
}

/*Fin Formulario*/


/*  Footer */
footer{
   background-color: #000;
    bottom: 0;
    left: 0;
    
    
}
footer p{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.social{
    background-color: #000;
    text-align: center;
}


@media(min-width: 700px){
    
    .contacto {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
  
    
}



@media all and (max-width: 960px){
    
    .menu .logo{
    float: left;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 20px;
    }
    .menu ul{
        margin-right: 0px;
        float: inherit;
        position: absolute;
        z-index: 1;
        margin-top: 70px;
        margin-right: 20px;
        box-shadow: 0 0 5px #33ffff;
        border-radius: 5px;
       
    }
    .menu ul li{
        display: block;
        width: 80%;
        
    }
  
    .icon{
        display: block;
        color: #fff;
        position: absolute;
        right:40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;   
    }
    
 .show + a, .menu ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }

    
    .tipos{
        grid-row-gap:10px;
        
    }
    .tipos div{
        margin-right: 20px;
    }
    
    .e1, .e2, .e3{
        grid-column: 1/4;
    }
    
    .contacto {
        display: grid;
        grid-template-columns: 1fr;
    }
    .info ul li{
        padding: 1px;
    }
    
   
}
